[Package]
version: 1
depends: 
incremental: False

[Product]
type: localboot
id: ica-logo
name: ica-logo
description: Install the ICA Boot screen

advice: 
version: 1.0
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.opsiscript
uninstallScript: uninstall.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript:

[Changelog]
ica-logo (1.0-1) stable; urgency=low

	* initial: created by opsi-setup-detector

 -- opsisetupdetector.exe <info@uib.de>  5/9/2019 13:33:26

